TZ={{ opencarwings_tz }}
BACKEND_PORT={{ opencarwings_backend_port }}
TCPSERVER_PORT={{ opencarwings_tcpserver_port }}
PSQL_NAME={{ opencarwings_db_name }}
PSQL_USERNAME={{ opencarwings_db_user }}
PSQL_PASSWORD={{ opencarwings_db_password }}
