TZ={{ opencarwings_tz }}
APP_UID={{ opencarwings_container_uid }}
APP_GID={{ opencarwings_container_gid }}
BACKEND_PORT={{ opencarwings_backend_port }}
TCPSERVER_PORT={{ opencarwings_tcpserver_port }}
PSQL_NAME={{ opencarwings_db_name }}
PSQL_USERNAME={{ opencarwings_db_user }}
PSQL_PASSWORD={{ opencarwings_db_password }}
SMSAPI_BASE_URL={{ opencarwings_smsapi_base_url }}
SMSAPI_TIMEOUT={{ opencarwings_smsapi_timeout }}
